.css-toggler-snippet-card {
  border-radius: 8px;
  background-color: var(--background-secondary);
  margin-bottom: 15px;
}

.css-toggler-snippet-card .card-header {
  display: flex;
  background: var(--background-secondary-alt);
  border-radius: 8px 8px 0 0;
  justify-content: space-between;
  padding: 20px;
}

.css-toggler-snippet-card .card-header-title {
  display: flex;
}

.css-toggler-snippet-card .card-header-title-input {
  height: 20px;
  position: relative;
  width: 250px;
  z-index: 1;
}

.css-toggler-snippet-card .card-header-title-input-box:hover,
.css-toggler-snippet-card .card-header-title-input-box:focus,
.css-toggler-snippet-card .card-header-title-input-box:focus-within,
.css-toggler-snippet-card[data-editing='true'] .card-header-title-input-box {
  opacity: 1;
}

.css-toggler-snippet-card .card-header-title-input-box {
  transition: opacity .1s ease-in-out;
  opacity: 0;
}

.css-toggler-snippet-card .card-header-title-placeholder {
  color: #fff;
  overflow: hidden;
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 250px;
  z-index: 0;
}

.css-toggler-snippet-card .card-header-snippet-id {
  color: var(--header-secondary);
  font-size: 14px;
  font-weight: 400;
  align-self: flex-end;
}

.css-toggler-snippet-card .card-body {
  padding: 20px 10px 20px;
  user-select: text;
}

.css-toggler-snippet-card .card-body-description {
  color: var(--header-secondary);
  padding: 0 8px 18px 8px;
  line-height: 16px;
  font-size: 14px;
}

.css-toggler-snippet-card .card-body-content {
  padding: 0 8px;
  font-size: 14px;
  color: var(--text-normal);
  text-overflow: ellipsis;
  overflow: hidden;
}

.css-toggler-snippet-card .card-body-content pre .hljs {
  background-color: var(--background-secondary-alt);
  border-radius: 3px;
}

.css-toggler-snippet-card .card-footer {
  display: flex;
  padding: 20px 10px 20px;
  border-top: 1px solid var(--background-primary);
  justify-content: space-between;
  margin: 0 10px;
}

.css-toggler-snippet-card .card-footer-author {
  display: flex;
  margin-right: auto;
}

.css-toggler-snippet-card .card-footer-author-avatar {
  margin-right: 8px;
}

.css-toggler-snippet-card .card-footer-author-name {
  color: var(--text-normal);
  align-self: center;
}

.css-toggler-snippet-card .card-footer-actions {
  display: flex;
}

.css-toggler-snippet-card .card-footer-actions button {
  margin-left: 5px;
}
