/* Settings */
.css-toggler-settings-tab-bar {
  margin-bottom: 25px;
}

.css-toggler-settings-tab-bar .selected-3s45Ha {
  cursor: pointer !important;
}

.css-toggler-settings-updater {
  background: linear-gradient(90deg, var(--brand-experiment-900), var(--brand-experiment-730)) no-repeat;
  border-radius: 10px;
  padding: 5px 30px;
}

.css-toggler-settings-updater .top-section {
  margin-top: 15px;
}

.css-toggler-settings-updater .top-section .icon {
  width: 48px;
}

.css-toggler-settings-updater .top-section .status {
  justify-content: space-between;
}

.css-toggler-settings-updater .top-section .about {
  font-family: var(--font-primary);
}

.css-toggler-settings-updater .top-section .about div span {
  width: 100%;
}

.css-toggler-settings-updater .buttons, .css-toggler-settings-updater .update {
  padding: initial;
  margin-bottom: 15px;
  border-bottom: none;
}

.css-toggler-settings-updater + .powercord-updater-ft {
  margin-top: 20px;
}

/* Jump Icons */
.css-toggler-quick-css-jump-icon {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  vertical-align: middle;
  background: var(--background-secondary);
  border-radius: 50%;
  cursor: pointer;
  padding: 0 5px;
}

.css-toggler-jump-icon {
  transform: rotateY(180deg);
}

/* New Snippet Modal */
.css-toggler-new-snippet-modal .modal-content {
  margin: 10px 0;
}

.css-toggler-new-snippet-modal .modal-content .divider-3573oO {
  display: none;
}

/* Import & Snippet Card */
.css-toggler-import-card,
.css-toggler-snippet-card {
  border-radius: 8px;
  background-color: var(--background-secondary);
  margin-top: 15px;
  font-size: 14px;
}

.css-toggler-import-card .card-header,
.css-toggler-snippet-card .card-header {
  display: flex;
  background: var(--background-secondary-alt);
  border-radius: 8px 8px 0 0;
  justify-content: space-between;
  padding: 20px;
}

.css-toggler-import-card[data-expanded='false'][data-hasdescription='false'] .card-header,
.css-toggler-snippet-card[data-expanded='false'][data-hasdescription='false'] .card-header {
  border-radius: 8px;
}

.css-toggler-import-card .card-header-title,
.css-toggler-snippet-card .card-header-title {
  display: flex;
  flex: 1;
}

.css-toggler-import-card .card-header-title-input,
.css-toggler-snippet-card .card-header-title-input {
  height: 20px;
  position: relative;
  width: 280px;
  z-index: 1;
}

.css-toggler-import-card .card-header-title-input-box:hover, .css-toggler-snippet-card .card-header-title-input-box:hover,
.css-toggler-import-card .card-header-title-input-box:focus, .css-toggler-snippet-card .card-header-title-input-box:focus,
.css-toggler-import-card .card-header-title-input-box:focus-within, .css-toggler-snippet-card .card-header-title-input-box:focus-within,
.css-toggler-import-card[data-editing='true'] .card-header-title-input-box, .css-toggler-snippet-card[data-editing='true'] .card-header-title-input-box {
  opacity: 1;
}

.css-toggler-import-card .card-header-title-input-box,
.css-toggler-snippet-card .card-header-title-input-box {
  transition: opacity .1s ease-in-out;
  opacity: 0;
}

.css-toggler-import-card .card-header-title-placeholder,
.css-toggler-snippet-card .card-header-title-placeholder {
  color: #fff;
  overflow: hidden;
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 280px;
  z-index: 0;
}

.css-toggler-import-card .card-header-import-status,
.css-toggler-snippet-card .card-header-snippet-id {
  color: var(--header-secondary);
  font-weight: 400;
  align-self: center;
  padding-right: 8px;
  user-select: text;
  display: flex;
}

.css-toggler-snippet-card .card-header-snippet-id .jump-to-snippet {
  color: var(--text-brand);
  cursor: pointer;
}

.css-toggler-import-card .card-header-expand-icon,
.css-toggler-snippet-card .card-header-expand-icon {
  color: var(--interactive-normal);
  background: var(--background-tertiary);
  border-radius: 50%;
  cursor: pointer;
}

.css-toggler-import-card[data-expanded='true'] .card-body,
.css-toggler-snippet-card[data-expanded='true'] .card-body {
  padding: 20px 10px 20px;
  user-select: text;
}

.css-toggler-import-card[data-expanded='false'][data-hasdescription='true'] .card-body,
.css-toggler-snippet-card[data-expanded='false'][data-hasdescription='true'] .card-body {
  padding: 20px 10px 5px;
}

.css-toggler-import-card .card-body-description,
.css-toggler-snippet-card .card-body-description {
  color: var(--header-secondary);
  padding: 0 8px 18px 18px;
  line-height: 16px;
  font-size: 15px;
}

.css-toggler-import-card[data-editing='true'] .card-body-description,
.css-toggler-snippet-card[data-editing='true'] .card-body-description {
  padding-left: 8px;
  padding-bottom: 0;
}

.css-toggler-import-card .card-body-content,
.css-toggler-snippet-card .card-body-content {
  padding: 0 8px;
  color: var(--text-normal);
  text-overflow: ellipsis;
  overflow: hidden;
}

.css-toggler-snippet-card .card-body-content .powercord-quickcss-header {
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid var(--background-tertiary);
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  padding: 7px 10px;
}

.css-toggler-snippet-card .card-body-content .powercord-quickcss-editor {
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid var(--background-tertiary);
  border-bottom: none;
  border-top: none;
}

.css-toggler-snippet-card .card-body-content .powercord-quickcss-editor .CodeMirror-gutters {
  background-color: var(--background-secondary-alt);
}

.css-toggler-snippet-card .card-body-content .powercord-quickcss-footer {
  background-color: rgba(0, 0, 0, .1);
  border: 1px solid var(--background-tertiary);
  border-radius: 0 0 5px 5px;
  border-top: none;
}

.css-toggler-import-card .card-body-content pre .hljs,
.css-toggler-snippet-card .card-body-content pre .hljs {
  background-color: var(--background-secondary-alt);
  border-radius: 3px;
}

.css-toggler-import-card .card-footer,
.css-toggler-snippet-card .card-footer {
  display: flex;
  padding: 20px 10px 20px;
  border-top: 1px solid var(--background-primary);
  justify-content: space-between;
  margin: 0 10px;
}

.css-toggler-import-card .card-footer-source,
.css-toggler-snippet-card .card-footer-author {
  display: flex;
  min-width: 0;
}

.css-toggler-import-card .card-footer-source-icon {
  width: 32px;
  height: 32px;
  background-color: var(--background-tertiary);
  color: var(--interactive-normal);
  cursor: pointer;
  padding: 6px;
}

.css-toggler-import-card .card-footer-source-icon svg {
  width: 20px;
  height: 20px;
}

.css-toggler-import-card .card-footer-source-icon,
.css-toggler-snippet-card .card-footer-author-avatar {
  margin-right: 8px;
  border-radius: 50%;
  filter: drop-shadow(var(--elevation-medium));
}

.css-toggler-import-card .card-footer-author-icon:active,
.css-toggler-snippet-card .card-footer-author-avatar:active {
  transform: translateY(1px);
}

.css-toggler-import-card .card-footer-source-name,
.css-toggler-snippet-card .card-footer-author-name {
  color: var(--text-normal);
  align-self: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
}

.css-toggler-import-card .card-footer-source-name:hover,
.css-toggler-snippet-card .card-footer-author-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.css-toggler-import-card .card-footer-actions,
.css-toggler-snippet-card .card-footer-actions {
  display: flex;
}

.css-toggler-import-card .card-footer-actions button,
.css-toggler-snippet-card .card-footer-actions button {
  margin-left: 5px;
}
